#root {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #9c1515;
}

.barra-porcentaje-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.barra-porcentaje {
  height: 10px;
  background-color: #FFEC65;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
  transition: width 0.3s ease;
}

.porcentaje-label {
  padding: 0 10px;
}
.barra-general {
  width: 80%;
  font-family: Raleway;
}